# Dependencias
node_modules
backend/node_modules
frontend/node_modules

# Variables de entorno
.env
.env.local
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

# Builds
dist
frontend/dist
backend/dist

# Prisma generado
backend/src/generated
backend/generated

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# VS Code opcional
.vscode